<section>
    <button class="btn-adicionar"><i class="fas fa-plus"></i></button>
    <button class="btn-exportar"><i class="fas fa-file-excel"></i></button>
    <div>
      <input type="number" min="10" class="input-quantidade">
      &nbsp;&nbsp;Resultados por página
      <input type="text" class="input-busca" placeholder="Pesquisar">
    </div>
    
    <div class="container">
        <table class="table table-striped table-bordered" >   
            <thead >
                <tr>
                  <th>Código</th>
                  <th>Descrição</th>
                  <th>Quantidade</th>
                  <th>Data de cadastro</th>
                  <th>Ação</th>
                  
                </tr>
            </thead>

            <tbody  >  
             <tr>
               <td>231</td>
               <td>iphone xs</td>
               <td>123</td>
               <td>25/03/2019</td>
               <td style="text-align: center;">
                <button class="btn-editar"><i class="fas fa-edit"></i></button>
                <button class="btn-search"><i class="fas fa-search"></i></button>
                <button class="btn-bloquear"><i class="fas fa-lock"></i></button>
               </td>
            </tr>
           
            
          </tbody>

      </table>
     </div> 
</section>
